*{
       margin : 0px ;
       padding : 0px ;
}
body {
 background-image : url("img/940.jpg") ;
 background-color : #cccccc ;
 background-repeat : no-repat ;
width :100% ;
height: 100% ;
background-size : cover ;
}



.logo img{
width: 150px ;
height: auto ;
float : left ;
margin-left : 30px ;
}



.menu{
width : 100% ;
height : 160px ;
background-color : rgba(0,0,10,0.5)  ;
}


.rightmenu ul{
margin-right : 15px ;

}

.rightmenu ul li{
font-family : ' montserrat ', sans-serif ;
display  : block ;
list-style : none ;
font-size : 20px ;
font-weight : bold ;
line-height : 140px ;
margin-right : 60px ;
color : white ;
float : right ;
}



.rifhtmenu ul li : hover{
color : orange ;
}

.text{
width : 100% ;
margin-top : 185px ;
text-transform : uppercase ;
text-align : center ;
color : white ;
}

.text h4{
font-size : 40px ;
font-family : ' montserrat ', sans-serif ;
color : white ;
text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77,0,38,0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77,0,13,0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77,25,0,0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77,66,0,0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64,77,0,0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38,77,0,0.5);
}
	
.text h1{
font-size : 85px ;
font-family : ' montserrat ', sans-serif ;
font-weight : 700px ;
margin : 14px 0px ;
color : red ;
text-shadow: 0px 0px 0 #899CD5, 1px 1px 0 #8194CD, 2px 2px 0 #788BC4, 3px 3px 0 #6F82BB, 4px 4px 0 #677AB3, 5px 5px 0 #5E71AA, 6px 6px 0 #5568A1, 7px 7px 0 #4C5F98, 8px 8px 0 #445790, 9px 9px 0 #3B4E87, 10px 10px 0 #32457E, 11px 11px 0 #2A3D76, 12px 12px 0 #21346D, 13px 13px 0 #182B64, 14px 14px 0 #0F225B, 15px 15px 0 #071A53, 16px 16px 0 #02114A, 17px 17px 0 #0B0841, 18px 18px 0 #130039, 19px 19px 0 #1C0930, 20px 20px 0 #251227, 21px 21px 20px rgba(0,0,0,1), 21px 21px 1px rgba(0,0,0,0.5), 0px 0px 20px rgba(0,0,0,.2);
}

.text h2{
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
font-size : 25px ;
font-family : ' montserrat ', sans-serif ;
color : #8d17f9  ;
}

#button1{
background-color : white ;
border : none ;
font-size : 12px ;
font-weight : bold ;
text-transform : uppercase ;
line-height : 40px ;
width : 150px ;
font-family : ' montserrat ', sans-serif ;
margin-top : 25px ;
border : 3px solid white ;
color : red ;
}

#button2{
background-color : transparent ;
border : none ;
font-family : ' montserrat ', sans-serif ;
text-transform : uppercase ;
font-weight : bold ;
line-height : 40px ;
border : 3px solid white ;
width : 150px ;
color : #0ffe6a ;
}

#button3{
background-color : white ;
border : none ;
font-size : 12px ;
font-weight : bold ;
text-transform : uppercase ;
line-height : 40px ;
width : 150px ;
font-family : ' montserrat ', sans-serif ;
margin-top : 25px ;
border : 3px solid white ;
color : red ;
}

#button4{
background-color : transparent ;
border : none ;
font-family : ' montserrat ', sans-serif ;
text-transform : uppercase ;
font-weight : bold ;
line-height : 40px ;
border : 3px solid white ;
width : 150px ;
color : #0ffe6a ;
}

.link a{
font-family : ' montserrat ', sans-serif ;
width : 30px ;
height : 200px ;
font-size : 60px ;
font-weight : bold ;
margin : 14px 0px ;
color : #0ffe6a ;
text-shadow: 0 0 10px #FFFFFF;
}

.link a button{
background-color : red ;
border : none ;
font-size : 12px ;
font-weight : bold ;
text-transform : uppercase ;
line-height : 40px ;
width : 150px ;
font-family : ' montserrat ', sans-serif ;
margin-top : 25px ;
border : 3px solid white ;
color : yellow  ;
}

p{
margin : 130px ;
font-size : 28px ;
font-family: Roboto, sans-serif;
color : red  ;
font-weight : bold ;
text-shadow: 2px 2px 0 #f8ffff, 2px -2px 0 #f8ffff, -2px 2px 0 #f8ffff, -2px -2px 0 #f8ffff, 2px 0px 0 #f8ffff, 0px 2px 0 #f8ffff, -2px 0px 0 #f8ffff, 0px -2px 0 #f8ffff;
}
